### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [127]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frameju
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [128]:
Player_Count = len(purchase_data["SN"].unique())
Player_Count = pd.DataFrame({"Total Players": [Player_Count]})
Player_Count.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [129]:
# Define variables in table; link headers in csv file to table headers(variables)
Number_Unique_Items = len(purchase_data["Item ID"].unique())
Average_Price = round(purchase_data["Price"].mean(), 2)
Number_Purchases = purchase_data["Price"].count()
Total_Revenue = purchase_data["Price"].sum()

# Use data frame to attach csv columns to table
Purchasing_Analysis = pd.DataFrame({"Number of Unique Items":[Number_Unique_Items], "Average Price":[Average_Price], "Number of Purchases":
            [Number_Purchases], "Total Revenue": [Total_Revenue]})

#Add $ formatting
Purchasing_Analysis["Average Price"] = Purchasing_Analysis["Average Price"].map("${:}".format)
Purchasing_Analysis["Total Revenue"] = Purchasing_Analysis["Total Revenue"].map("${:,}".format)
                      
Purchasing_Analysis.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [130]:
#Calculate Gender # and %
Gender_Demographics_Totals = purchase_data["Gender"].value_counts()
Gender_Demographics_Percentage = Gender_Demographics_Totals / Player_Count
Gender_Demographics = pd.DataFrame({"Total Count": Gender_Demographics_Totals, "Percentage of Players": Gender_Demographics_Percentage})

#Formatting
Gender_Demographics["Percentage of Players"] = Gender_Demographics["Percentage of Players"].map("{:,.2%}".format)

Gender_Demographics

ValueError: Shape of passed values is (4, 2), indices imply (3, 2)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [131]:
#Run calcs and rename per table requirements

Purchase_Count = purchase_data["Purchase ID"].count()
Average_Purchase_Price = purchase_data["Price"].mean()
Total_Purchase_Value = purchase_data["Price"].sum()

Avg_Total_Purchase_Person = Total_Purchase_Value / Gender_Demo

Gender_Demo = pd.DataFrame({"Purchase Count": Purchase_Count, "Average Purchase Price": Average_Purchase_Price,  
                               "Total Purchase Value": Average_Purchase_Price, "Avg Total Purchase per Person":
                               Avg_Total_Purchase_Person})


Gender_Demo.head()




#Gender_Count = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
#Gender_Average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
#Gender_Purchase_Total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")

#
#Average_Purchase_Person = Gender_Purchase_Total / Gender_Demo["Total Count"]

#Gender_Data = pd.DataFrame({"Purchase Count": Gender_Count, "Average Purchase Price": Gender_Average, "Total Purchase Value":
                          # Gender_Purhcase_Total, "Avg Total Purchase per Person": Average_Purchase_Person})

#gender_data

TypeError: unsupported operand type(s) for /: 'float' and 'str'

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [132]:
#Establishing bins
Age_Bins = [0,9,14,19,24,29,34,39,49]

#Categorize players into group
Age_Group = ['<10', '10-14', '15-19', '20-24', '25-29', '30 - 34', '35 - 39', '40+']
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], Age_Bins, labels = Age_Group)

#Groupby to combine group counts with group ranges
Age_Group = purchase_data.groupby(["Age Group"])

#Count all unique values per age group
Age_Group_Count = Age_Group["SN"].nunique()
Total_Count = purchase_data["SN"].nunique()
Percentage_Players = (Age_Group_Count / Total_Count)*100

Age_Demo = pd.DataFrame({"Total Count": Age_Group_Count, "Percentage of Players": Percentage_Players})

#add % formatting and 2 decimal places
Age_Demo["Percentage of Players"] = Age_Demo["Percentage of Players"].map("{:.2f}%".format)

Age_Demo.head(8)

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30 - 34             52                 9.03%
35 - 39             31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [133]:
#Establishing bins
Age_Bins = [0,9,14,19,24,29,34,39,49]

#Categorize players into group
Age_Group = ['<10', '10-14', '15-19', '20-24', '25-29', '30 - 34', '35 - 39', '40+']
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], Age_Bins, labels = Age_Group)

#Groupby to combine group counts with group ranges
Age_Group = purchase_data.groupby(["Age Group"])

#Count all unique values per age group
Purchase_Count = Age_Group["SN"].nunique()
Total_Count = purchase_data["SN"].nunique()
#Percentage_Players = (Age_Group_Count / Total_Count)*100

#Age_Demo = pd.DataFrame({"Total Count": Age_Group_Count, "Percentage of Players": Percentage_Players})

#add % formatting and 2 decimal places
#Age_Demo["Percentage of Players"] = Age_Demo["Percentage of Players"].map("{:.2f}%".format)

Age_Demo.head(8)

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30 - 34             52                 9.03%
35 - 39             31                 5.38%
40+                 12                 2.08%

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [123]:
#Define top spender 
Top_Spenders = purchase_data["Item ID"].groupby(purchase_data['SN']).count()


Top_Spenders.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Item ID, dtype: int64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80